# Connecting the jupyter notebook to the MongoDB

In [3]:
from pymongo import MongoClient
import pandas as pd

Connecting the MongoDB

In [4]:
# MongoDB connection string (replace with your actual one)
MONGO_URI = "mongodb+srv://rajagowtham0506_db_user:Gowtham@clusterweek1.jqkulot.mongodb.net/?appName=Clusterweek1"

client = MongoClient(MONGO_URI)

# Select database and collection
db = client["Skin_cancer"]
collection = db["Document"]

print("Connected to MongoDB")

Connected to MongoDB

Loading of CSV file

In [16]:
# loading the dataset and printing the top 5 rows
import pandas as pd
df = pd.read_csv(r"C:\Users\rajak\Downloads\AI Internship\dermatology_database_1.csv")
df.head(5)

,erythema,scaling,definite_borders,itching,koebner_phenomenon,polygonal_papules,follicular_papules,oral_mucosal_involvement,knee_and_elbow_involvement,scalp_involvement,...,disappearance_granular_layer,vacuolisation_damage_basal_layer,spongiosis,saw_tooth_appearance_retes,follicular_horn_plug,perifollicular_parakeratosis,inflammatory_mononuclear_infiltrate,band_like_infiltrate,age,class
0,2,2,0,3,0,0,0,0,1,0,...,0,0,3,0,0,0,1,0,55,2
1,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,8,1
2,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
3,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
4,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3

In [17]:
collection.count_documents({})

0

verifying whether the collection is empty or it consist of the existing data

inserting the csv file to MongodB

In [18]:
# Convert DataFrame to list of dictionaries
records = df.to_dict(orient="records")
# Insert into MongoDB
collection.insert_many(records)
print("CSV data inserted into MongoDB successfully")

CSV data inserted into MongoDB successfully

In [19]:
collection.count_documents({})

366

# Extracting Data from MongoDB

In [20]:
# Fetch all documents
data = list(collection.find())
# Convert to DataFrame
df_mongo = pd.DataFrame(data)
# Remove MongoDB auto-generated ID
df_mongo.drop(columns="_id", inplace=True)
df_mongo.head()

,erythema,scaling,definite_borders,itching,koebner_phenomenon,polygonal_papules,follicular_papules,oral_mucosal_involvement,knee_and_elbow_involvement,scalp_involvement,...,disappearance_granular_layer,vacuolisation_damage_basal_layer,spongiosis,saw_tooth_appearance_retes,follicular_horn_plug,perifollicular_parakeratosis,inflammatory_mononuclear_infiltrate,band_like_infiltrate,age,class
0,2,2,0,3,0,0,0,0,1,0,...,0,0,3,0,0,0,1,0,55,2
1,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,8,1
2,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
3,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
4,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3

# Inserting Patient ID & severity score to MongoDB

Creating the Unique Patient ID

In [21]:
# creating the unique patient ID
patients = list(collection.find({}, {"_id": 1}))
for idx, patient in enumerate(patients, start=1):
    patient_id = f"PAT_{idx:04d}"
    
    collection.update_one(
        {"_id": patient["_id"]},
        {"$set": {"patient_id": patient_id}}
    )

print("Unique patient IDs created and stored successfully.")
collection.create_index("patient_id", unique=True)
print("Uniqueness constraint applied on patient_id.")

Unique patient IDs created and stored successfully.
Uniqueness constraint applied on patient_id.

Verifying the uploaded unique patient ID

In [23]:
#verifying the unified patient ID
# Fetch all documents
data = list(collection.find())
# Convert to DataFrame
df_mongo = pd.DataFrame(data)
# Remove MongoDB auto-generated ID
df_mongo.drop(columns="_id", inplace=True)
df_mongo.head()

,erythema,scaling,definite_borders,itching,koebner_phenomenon,polygonal_papules,follicular_papules,oral_mucosal_involvement,knee_and_elbow_involvement,scalp_involvement,...,vacuolisation_damage_basal_layer,spongiosis,saw_tooth_appearance_retes,follicular_horn_plug,perifollicular_parakeratosis,inflammatory_mononuclear_infiltrate,band_like_infiltrate,age,class,patient_id
0,2,2,0,3,0,0,0,0,1,0,...,0,3,0,0,0,1,0,55,2,PAT_0001
1,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,1,0,8,1,PAT_0002
2,2,1,2,3,1,3,0,3,0,0,...,2,3,2,0,0,2,3,26,3,PAT_0003
3,2,2,2,0,0,0,0,0,3,2,...,0,0,0,0,0,3,0,40,1,PAT_0004
4,2,3,2,2,2,2,0,2,0,0,...,3,2,3,0,0,2,3,45,3,PAT_0005

Calculating the severity score and uploading to MongoDB

In [24]:
# updating the severity score
exclude_fields = {
    "_id", "patient_id", "class", "age",
    "severity_score", "severity_category"
}
for patient in collection.find({}):

    severity_score = 0

    for key, value in patient.items():
        # include only numeric clinical features
        if key not in exclude_fields and isinstance(value, (int, float)):
            severity_score += value
    collection.update_one(
        {"_id": patient["_id"]},
        {"$set": {"severity_score": severity_score}}
    )

print("Severity indicator score calculated and updated successfully.")

Severity indicator score calculated and updated successfully.

verifying the uploaded severity score

In [25]:
#verifying the severity indicator score updation
# Fetch all documents
data = list(collection.find())
# Convert to DataFrame
df_mongo = pd.DataFrame(data)
# Remove MongoDB auto-generated ID
df_mongo.drop(columns="_id", inplace=True)
df_mongo.head()

,erythema,scaling,definite_borders,itching,koebner_phenomenon,polygonal_papules,follicular_papules,oral_mucosal_involvement,knee_and_elbow_involvement,scalp_involvement,...,spongiosis,saw_tooth_appearance_retes,follicular_horn_plug,perifollicular_parakeratosis,inflammatory_mononuclear_infiltrate,band_like_infiltrate,age,class,patient_id,severity_score
0,2,2,0,3,0,0,0,0,1,0,...,3,0,0,0,1,0,55,2,PAT_0001,17
1,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,1,0,8,1,PAT_0002,31
2,2,1,2,3,1,3,0,3,0,0,...,3,2,0,0,2,3,26,3,PAT_0003,35
3,2,2,2,0,0,0,0,0,3,2,...,0,0,0,0,3,0,40,1,PAT_0004,33
4,2,3,2,2,2,2,0,2,0,0,...,2,3,0,0,2,3,45,3,PAT_0005,36

# missing value analysis

In [6]:
import numpy as np
# Load data
data = list(collection.find({}, {"_id": 0}))
df = pd.DataFrame(data)

# Standardize missing values
df.replace(["", " ", "NA", "N/A", "null", "None", "?"], np.nan, inplace=True)

# Find rows with missing values
rows_with_missing = df[df.isnull().any(axis=1)]

print("Rows containing missing values:")
rows_with_missing.head()

Rows containing missing values:

,erythema,scaling,definite_borders,itching,koebner_phenomenon,polygonal_papules,follicular_papules,oral_mucosal_involvement,knee_and_elbow_involvement,scalp_involvement,...,spongiosis,saw_tooth_appearance_retes,follicular_horn_plug,perifollicular_parakeratosis,inflammatory_mononuclear_infiltrate,band_like_infiltrate,age,class,patient_id,severity_score
33,2,2,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,NaN,1,PAT_0034,20
34,2,1,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,NaN,4,PAT_0035,10
35,2,2,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,2,PAT_0036,11
36,2,1,2,3,2,3,0,2,0,0,...,0,2,0,0,0,3,NaN,3,PAT_0037,31
262,2,1,0,2,0,0,0,0,0,0,...,2,0,0,0,3,0,NaN,5,PAT_0263,24

count of missing values for each column

In [7]:
# Count missing values per column
missing_count = df.isnull().sum()

missing_summary = pd.DataFrame({
    "Missing_Count": missing_count,
    "Missing_Percentage (%)": (missing_count / len(df) * 100).round(2)
})

print("Missing value count per column:")
print(missing_summary[missing_summary["Missing_Count"] > 0])

Missing value count per column:
     Missing_Count  Missing_Percentage (%)
age              8                    2.19

filling of missing values

In [9]:
import numpy as np
# Ensure age is numeric
df['age'] = pd.to_numeric(df['age'], errors='coerce')
# Fill missing AGE values using CLASS-wise mean AGE
df['age'] = (
    df.groupby('class')['age']
      .transform(lambda x: x.fillna(x.mean()))
)
print("Missing AGE values filled using class-wise mean.")
# Verification
print("\nRemaining missing values:")
print(df.isnull().sum())

Missing AGE values filled using class-wise mean.

Remaining missing values:
erythema                               0
scaling                                0
definite_borders                       0
itching                                0
koebner_phenomenon                     0
polygonal_papules                      0
follicular_papules                     0
oral_mucosal_involvement               0
knee_and_elbow_involvement             0
scalp_involvement                      0
family_history                         0
melanin_incontinence                   0
eosinophils_infiltrate                 0
PNL_infiltrate                         0
fibrosis_papillary_dermis              0
exocytosis                             0
acanthosis                             0
hyperkeratosis                         0
parakeratosis                          0
clubbing_rete_ridges                   0
elongation_rete_ridges                 0
thinning_suprapapillary_epidermis      0
spongiform_pustule                     0
munro_microabcess                      0
focal_hypergranulosis                  0
disappearance_granular_layer           0
vacuolisation_damage_basal_layer       0
spongiosis                             0
saw_tooth_appearance_retes             0
follicular_horn_plug                   0
perifollicular_parakeratosis           0
inflammatory_mononuclear_infiltrate    0
band_like_infiltrate                   0
age                                    0
class                                  0
patient_id                             0
severity_score                         0
dtype: int64

The missing values that exist in the age column have filled by using the mean of the same cluster value. Filling the missing value by this way helps to maintain the clinical integrity of the particular disease class.

Update filled value in MongoDB

In [10]:
# update age values in the MongoDB
for _, row in df.iterrows():
    collection.update_one(
        {"patient_id": row["patient_id"]},
        {"$set": {"age": int(row["age"])}}
    )

print("Filled AGE values successfully updated in MongoDB.")

Filled AGE values successfully updated in MongoDB.

Missing value in MongoDB verification

In [11]:
missing_conditions = [
    {"$eq": None},
    {"$eq": ""},
    {"$eq": "NA"},
    {"$eq": "N/A"},
    {"$eq": "null"}
]
# analysing each document for missing value
documents_with_missing = []
for doc in collection.find({}, {"_id": 0}):
    for key, value in doc.items():
        if value is None or value in ["", "NA", "N/A", "null"]:
            documents_with_missing.append({
                "patient_id": doc.get("patient_id"),
                "field": key,
                "value": value
            })
            break
# final results
if len(documents_with_missing) == 0:
    print("✅ Verification successful: No missing values in MongoDB collection.")
else:
    print("❌ Missing values still exist in MongoDB:")
    for item in documents_with_missing[:10]:
        print(item)

✅ Verification successful: No missing values in MongoDB collection.

In [12]:
collection.count_documents({})

366