In [2]:
# loading the dataset and printing the head
import pandas as pd
df = pd.read_csv(r"C:\Users\rajak\Downloads\AI Internship\dermatology_database_1.csv")
df.head(5)

,erythema,scaling,definite_borders,itching,koebner_phenomenon,polygonal_papules,follicular_papules,oral_mucosal_involvement,knee_and_elbow_involvement,scalp_involvement,...,disappearance_granular_layer,vacuolisation_damage_basal_layer,spongiosis,saw_tooth_appearance_retes,follicular_horn_plug,perifollicular_parakeratosis,inflammatory_mononuclear_infiltrate,band_like_infiltrate,age,class
0,2,2,0,3,0,0,0,0,1,0,...,0,0,3,0,0,0,1,0,55,2
1,3,3,3,2,1,0,0,0,1,1,...,0,0,0,0,0,0,1,0,8,1
2,2,1,2,3,1,3,0,3,0,0,...,0,2,3,2,0,0,2,3,26,3
3,2,2,2,0,0,0,0,0,3,2,...,3,0,0,0,0,0,3,0,40,1
4,2,3,2,2,2,2,0,2,0,0,...,2,3,2,3,0,0,2,3,45,3

In [3]:
# this has been generally used to the clinical data using the pandas for understanding the structure of the data

In [6]:
# finding the unique classes or diseases 
import pandas as pd
df = pd.read_csv(r"C:\Users\rajak\Downloads\AI Internship\dermatology_database_1.csv")   
class_column = 'class'
unique_class = df[class_column].unique()
num_unique_class = len(unique_class)
print("Number of unique classes", num_unique_class)
print("Unique class labels:\n", unique_class)
disease_summary = (
    df[class_column]
    .value_counts()
    .reset_index()
)
disease_summary.columns = ['class', 'Count']
disease_summary['Percentage (%)'] = (
    disease_summary['Count'] / disease_summary['Count'].sum()
) * 100
# Display results
print("\nDisease-wise distribution:")
display(disease_summary)

Number of unique classes 6
Unique class labels:
 [2 1 3 5 4 6]

Disease-wise distribution:

   class  Count  Percentage (%)
0      1    112       30.601093
1      3     72       19.672131
2      2     61       16.666667
3      5     52       14.207650
4      4     49       13.387978
5      6     20        5.464481

In [ ]:
# Before working on any dataset, we need to understand  how many subjects fall under each class. 
#To understand this, we have been using the class count and percentage values.